@use './vars';

// Font size
.heading-xxl {
  font-size: 4.5rem;
  font-weight: 700;
  line-height: 1;
}

.heading-xl {
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1.6;
}

.heading-lg {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 2.5;
}

.heading-md {
  font-size: 1.5rem;
  line-height: 1.4;
}

.heading-sm {
  font-size: 1.25rem;
  font-weight: 400;
}

small {
  font-size: 0.875rem;
}

// Font color
.text-primary {
  color: vars.$primary-color;
}
