.faq {
  margin: 4rem 0;
  scroll-margin-top: 80px;

  h2 + p {
    margin-bottom: 2rem;
  }

  .faq-list-item {
    padding-bottom: 1rem;

    .collapsible {
      padding: 2rem 3rem;
      border-bottom: 1px solid #ddd;

      &:hover,
      &.active {
        background: #ddd;
      }

      span:nth-child(2) {
        flex: 2;
        display: flex;
        justify-content: flex-start;
        padding-left: 2rem;
      }

      .icon {
        color: #b8b8b8;
      }

      .icon-minus,
      &.active .icon-plus {
        display: none;
      }

      .icon-plus,
      &.active .icon-minus {
        display: inline;
      }
    }

    .content {
      & > div {
        padding: 1rem 2rem 2rem;
      }
    }
  }
}
